  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


  .navbar-brand {
    padding-right: 200px;
  }

  li a {
    font-size: 17px;
  }

  /* Home page */
  .main-1 {
    background-image: url(images/backgroundimg.png);
    height: 50vh;
    width: 90%;
    margin-bottom: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 25% right 0;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .main-1 h6 {
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
  }

  .main-1 h1 {
    font-size: 90px;
    font-family: 'Bebas Neue', cursive;

  }

  .main-1 span {
    color: #856C14;
    font-size: 20px;
    text-align: right;
    letter-spacing: 1px;
    background-color: white;
    border-radius: 5px;
    padding: 5px 5px;
  }

  .main-1 button {
    background-color: #856C14;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    font-weight: 200;
    font-size: 15px;
  }

  section {
    margin: 0;
  }

  .main-2 {
    background-color: #856d143a;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
  }

  #Main-2Text {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;

  }

  .main-3 {
    padding: 20px 0;
    margin: auto;
  }


  .main-3 h1 {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1px;
    font-size: 50px;
  }

  .main-4 h1 {
    text-align: center;
    font-size: 40px;
    padding: 25px 0;

  }

  .main-4 p {
    font-size: 26px;
    padding-left: 20px;
  }

  .main-4 button {
    background-color: #856C14;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 15px;
    cursor: pointer;
    font-weight: 200;
    font-size: 15px;
    margin-left: 25px;
  }

  .main-5 {
    background-color: #181301;
    padding: 40px;
    margin: 95px 0;
  }

  .main-5 h1 {
    text-align: center;
    padding: 30px;
    color: white;
  }

  .main-5-text {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
  }

  .main-5-text p {
    padding: 10px;
    font-size: 20px;

  }

  .main-5-text :nth-child(1) {
    border-top: 1px solid goldenrod;
  }

  .main-5-text :nth-child(3) {
    border-top: 1px solid goldenrod;
  }

  .main-6 {
    margin: 105px 0;
  }

  .main-6 h1 {
    border-left: 5px solid #856C14;
    padding: 10px 50px;
    margin: 10px 10px;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
  }

  .main-6 p {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
  }

  .main-6-text {
    border-left: 5px solid #856C14;
    padding: 10px 20px;
    margin: 10px 10px;
  }

  .main-7 h1 {
    margin: 0 20px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 35px;
    padding: 10px 50px;
  }

  .main-7 p {
    margin: 0 20px;
    margin-bottom: 15px;
    font-size: 20px;
    padding: 10px 50px;
  }

  .main-7 a {
    background-color: #856C14;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 15px;
    cursor: pointer;
    font-weight: 200;
    font-size: 15px;
    margin: 0 70px;
    text-decoration: none;
  }


  .price-row {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
  }

  .price-col {
    background-color: black;
    padding: 10% 5%;
    border-radius: 20px;
    color: white;
    text-align: center;
  }

  .price-col p {
    font-size: 22px;
  }

  .price-col h3 {
    font-size: 44px;
    margin: 20px 0 40px;
    font-weight: 500;
  }

  .price-col h3 span {
    font-size: 15px;
    color: grey;
  }

  .price-col ul {
    text-align: left;
    margin: 20px;
    color: white;
    font-size: 20px;
  }

  .price-col ul li {
    list-style: circle;
    margin: 15px 0;
  }

  .price-col button {
    padding: 20px;
    width: 100%;
    border-radius: 15px;
    background: transparent;
    color: black;
    font-size: 18px;
    border: 1px solid white;
    margin-top: 30px;
    background-color: white;
    cursor: pointer;
  }

  footer {
    background-color: #312805;
    padding: 10px 0;
    margin-top: 105px;
  }

  .footer-1 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  .footer-1 img {
    width: 7%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  .footer-1 p {
    color: white;
    font-size: 30px;
  }

  nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 25px 0;
  }

  nav li {
    list-style: none;
  }

  nav a {
    color: white;
    text-decoration: none;
  }

  nav a:hover {
    text-decoration: none;
    color: #856C14;
  }

  footer p {
    text-align: center;
    color: white;
  }